
a:hover { text-decoration: none; }
body { background-color: lightgrey; }

footer { 
	margin-top: 20px; 
	margin-left: 270px;

}

.footer-gold {
	background-color: #fbb414;
	padding:10px;
}

.footer-blue {
	background-color: #1a1751;
	color: white;
	padding:25px;
	font-size: .8em;
}

.footer-title {
	font-weight: bold;
	font-size: 1.2em !important;
}

.container-fluid {
	padding: 0 25px;
}

/* Login */

.index-bg {
	background-image: url('../img/bg/ustp.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	top: 0;
	position: absolute;
}

*:active,
*:focus {
	outline: none !important;
}

.mid-container {
	margin: auto;
	width: 50%;
	position: relative;
	top: 30%;
}

.mid-container2 {
	margin: auto;
	width: 50%;
	position: relative;
	top: 20%;
}

.card-container {
	padding: 1.2em;
	background-color: #fbb414;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	overflow: auto;
}

.title-header {
	background-color: #1a1751;
	padding: 1.2em;
	color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.title-header h1 {
	font-weight: bold;
}

/* Navbar */

.top-navbar {
	background-color: #1a1751;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	padding-left: 0;
}

.user-profile {
	float: right;
	padding: 15px 0;
}

.user-profile .user-info {
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

.user-info-opt {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.user-info-opt li {
	padding: 10px;
}

.user-info-opt a {
	text-decoration: none;
}

.user-info-opt li:hover {}

.user-info-opt a:active {
	text-decoration: none;
}

.dropdown-menu {
	border-radius: 0 !important;
	right: 10px;
	left: 100 !important;
	padding: 0;
}

.user-profile img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

/* Side Navbar */

.main-container {
	position: relative;
	margin-top: 80px;
	margin-left: 270px;
	transition: 0.25s;
}

.side-navbar-container {
	height: 100%;
	background-color: white;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.25s;
	padding-top: 100px;
	box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.6);
}

.ustp-menu {
	background-color: #1a1751;
	height: 80px;
	padding: 15px 15px;
}

.logo h1 {
	margin: 0;
	color: white;
	float: left;
}

.logo h4 {
	margin: 0;
	color: white;
	float: left;
	padding: 7px 0;
}

.side-nav-close {
	float: right;
	font-size: 2.25em;
	padding: 5px 0;
}

.side-nav-close a:hover,
.side-nav-open a:hover {
	color: #fbb414;
	transition: .25s ease-in-out;
}

.side-nav-close a:active,
.side-nav-open a:active {
	color: #fbb414;
	transition: .25s ease-in-out;
}

.side-nav-open {
	left: 0;
	font-size: 2.5em;
	padding: 15px 0 15px 25px;
	transition: 1s ease-in-out;
}

.side-nav-close a,
.side-nav-open a {
	color: white;
}

.side-navbar {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #1a1751;
}

.side-navbar a {
	text-decoration: none;
	color: #1a1751;
}

.side-navbar li:hover, .side-navbar li.active {
	border-left: 7px solid #fbb414;
	background-color: rgba(0, 0, 0, .05);
	transition: .25s ease-in-out;
}

.side-navbar li:active {
	-webkit-transition: all 0.225s ease-in;
	-moz-transition: all 0.225s ease-in;
	transition: all 0.225s ease-in;
	background-position: bottom left;
	color: #1a1751;
}

.side-navbar li {
	padding: 20px 10px;
	background-image: linear-gradient(to left, transparent 50%, #fbb414 50%);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	-webkit-transition: all 0.225s ease-in;
	-moz-transition: all 0.225s ease-in;
	transition: all 0.225s ease-in;
}

.nav-icon {
	font-size: 2em;
	margin: 0 20px 0 10px;
}

/* Content */

.btn-icon {
	margin: 0 10px 0 0;
}

.path-nav {
	margin: 0;
	font-size: 1.2em;
}

.card-title {
	border-bottom: 1px solid #eee;
}

.card-title h1 {
	margin-top: 0;
}

.card-body {
	margin-top: 20px;
}

.card-footer {
	margin-top: 15px;
	padding: 10px 15px;
	border-top: 1px solid #eee;
}

.card-content {
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	margin: 25px 0 0 0;
}

.biodata-form input {
	color: #333;
}

/*MODAL BODY OVERRIDE */

.modal-biodata {
	width: 80% !important;
	margin: 20px auto !important;
}

.modal-header {
	background-color: #1a1751 !important;
	border-radius: 5px 5px 0 0;
}

.modal-title {
	color: white !important;
}

.close span {
	color: white;
}

/* Scroll Back To Top Button */

.scrollup-btn {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 20px;
	z-index: 99;
	font-size: 2.5em;
	border: none;
	outline: none;
	background-color: #1a1751;
	color: white;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 100%;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}

.scrollup-btn:hover {
	background-color: #fbb414;
	color: #1a1751;
}

/* Resume */

.resume-list {
	list-style: none;
	border-left: 2px solid #1a1751;
}

.resume-title {
	border-bottom: 1px solid #333;
}

.resume-delete {
	color: #d9534f;
	border: none !important;
	background-color: transparent !important;
}

.resume-delete:hover {
	color: darkred;
}

/* Dashboard Notification */

.dashboard-notify {
	text-align: center;
	position: relative;
}

.dashboard-badge {
	position: relative;
	background-color: #1a1751;
	border-radius: 100%;
	color: white;
}

.dashboard-badge-label h4 {
	position: relative;
	text-align: right;
}

.dashboard-badge:hover {
	background-color: #13113a;
}

.dashboard-badge-no {
	margin: auto;
	text-decoration: none;
}

/** ============== TOASTER STYLES START ============== **/
#toaster {
    visibility: hidden;
    min-width: 230px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 138px;
    background: #fff ;

}
#toaster.t_login { left: 26%; }
#toaster.t_register { left: 76%; }

#toaster span {
	font-size: 16px;
	background: rgba(0, 0, 0, .05);
	padding: 17px 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #1a1751;
    background-image: linear-gradient(to left, transparent 50%, #fbb414 50%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}
#toaster span.danger { background-image: linear-gradient(to left, transparent 50%, red 50%); }

#toaster.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.7s;
	animation: fadein 0.5s, fadeout 0.5s 2.7s;
	z-index: 99999;
}

#toaster.show span {
    animation: loadinglike 3s;
}

	
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 127px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 127px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 127px; opacity: 1; visibility: hidden;} 
    to {top: 0; opacity: 0; visibility: hidden;}
}

@keyframes fadeout {
    from {top: 127px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes loadinglike {
	from { background-size: 1% 100%; }
	to { background-size: 200% 100%; color: white; }
}

/** ==============  TOASTER STYLES END  ============== **/

/** ============== PRELOAD STYLES START ============== **/

.folding-cube-wrapper {
	background: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.folding-cube-body {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	position: absolute;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.folding-cube-body .cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.folding-cube-body .cube::before {
	background-color: #ffb606;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-animation: foldCubeAngle 2.4s infinite linear both;
	animation: foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	background: #ffb606;
}

.folding-cube-body .cube-2::before {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

.folding-cube-body .cube-3::before {
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}

.folding-cube-body .cube-4::before {
	-webkit-animation-delay: .9s;
	animation-delay: .9s;
}

.folding-cube-body .cube-2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}

.folding-cube-body .cube-3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}

.folding-cube-body .cube-4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}

@keyframes foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0);
		transform: perspective(140px) rotateX(0);
		opacity: 1
	}
	100%,
	90% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0
	}
}

/** ============== PRELOAD STYLES END ============== **
/* Graph */

.graph-canvas {
	width: 100%;
	height: auto;
}

/* User Profile Pic */

.user-profile-pic {
	height: 150px;
	width: 150px;
	padding: 5px;
	border: 1px solid #ccc;
}


















/* Media Queries */
@media only screen and (min-device-width: 1025px) {
	.dashboard-badge {
		height: 150px;
		width: 150px;
		padding: 30px;
	}
	.dashboard-badge-no {
		font-size: 4em;
	}
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
	.dashboard-badge {
		height: 100px;
		width: 100px;
		padding: 20px;
	}

	.dashboard-badge-no {
		font-size: 3em;
	}
}

@media only screen and (min-device-width: 769px) {
	.side-nav-close {
		display: none;
	}
	.side-navbar-container {
		width: 270px;
	}
	#image {
		font-size: .9vw;
	}
}

@media only screen and (max-device-width: 768px) {
	.side-nav-close {
		display: block;
	}
	footer small {
		padding-left: 0;
	}
	.side-navbar-container {
		width: 0;
	}
	.main-container {
		margin-left: 0 !important;
	}
	#image {
		font-size: 1.75vw;
	}
	.dashboard-badge {
		height: 150px;
		width: 150px;
		padding: 30px;
	}

	.dashboard-badge-no {
		font-size: 4em;
	}
}

@media only screen and (max-device-width: 425px) {
	#image {
		font-size: 3vw;
	}
	
	.card-title,
	.user-profile-pic,
	.user-profile-details {
		text-align: center;
		margin: auto;
	}
}

@media only screen and (max-device-width: 375px) {
	#image {
		font-size: 3.5vw;
	}

	.card-title,
	.user-profile-pic,
	.user-profile-details {
		text-align: center;
		margin: auto;
	}
}