body {
	background-color: lightgrey;
}

/* Login */

.index-bg {
	background-image: url('../img/bg/ustp.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	top: 0;
	position: absolute;
}

*:active,
*:focus {
	outline: none;
}

.mid-container {
	margin: auto;
	width: 50%;
	position: relative;
	top: 30%;
}

.mid-container2 {
	margin: auto;
	width: 50%;
	position: relative;
	top: 20%;
}

.card-container {
	padding: 1.2em;
	background-color: #fbb414;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	overflow: auto;
}

.title-header {
	background-color: #1a1751;
	padding: 1.2em;
	color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.title-header h1 {
	font-weight: bold;
}

.min-form {
	background-color: transparent;
	-webkit-text-fill-color: #1a1751;
	border: none;
	border-bottom: 2px solid whitesmoke;
	padding: 5px 10px;
	width: 100%;
	font-size: 1.25em;
}

.min-form:focus {
	outline: none;
}

.min-btn {
	border: 2px solid #1a1751;
	border-radius: 5px;
	color: white;
	background-color: #1a1751;
	padding: 8px 15px;
	font-size: 1.25em;
}

.min-btn:active {
	border: 2px solid white;
	background-color: white;
	color: #fbb414;
}

/* Navbar */

.top-navbar {
	background-color: #1a1751;
	padding: 0;
	left: 0;
}

.user-profile {
	float: right;
	padding: 15px 0;
	margin-right: 10px;
}

.user-profile .user-info {
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

.dropdown-menu {
	border-radius: 0 !important;
	padding: 15px 20px;
	right: 10px;
	left: 100 !important;
}

.user-profile img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

/* Side Navbar */

.main-container {
	position: relative;
	margin-left: 250px;
}

.side-navbar-container {
	height: 100%;
	background-color: white;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 100px;
	width: 250px;
	box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.6);
}

.ustp-menu {
	background-color: #1a1751;
	height: 80px;
	padding: 20px;
}

.ustp-menu h1 {
	margin: 0;
	color: white;
	float: left;
}

.side-nav-close {
	float: right;
	font-size: 2.25em;
}

.side-nav-close a:hover{
	color: lightgrey;
}

.side-nav-close a:active {
	color: grey;
}

.side-nav-open {
	left: 0;
	font-size: 2.5em;
	padding: 15px;
}

.side-nav-open a:hover {
	color: lightgrey;
}

.side-nav-open a:active {
	color: grey;
}

.side-nav-close a,
.side-nav-open a {
	color: white;
}

.side-navbar {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #1a1751;
}

.side-navbar a {
	text-decoration: none;
	color: #1a1751;
}

.side-navbar li:hover {
	background-color: rgba(0, 0, 0, .2);
}

.side-navbar li {
	padding: 20px 10px;
}

.nav-icon {
	font-size: 2em;
	margin: 0 20px 0 10px;
}

/* Content */

.btn-icon {
	margin: 0 10px 0 0;
}

.path-nav {
	margin: 0;
	font-size: 1.2em;
}

.card-content {
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	margin-top: 20px;
}

/*MODAL BODY OVERRIDE */

.modal-form {
	width: 80% !important;
}

.modal-header {
	background-color : #1a1751 !important;
	border-radius: 5px 5px 0 0;
}

.modal-title {
	color: white !important;
}

.modal-body {
	overflow: auto;
}